 {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
  </head>

  <body>
    <div class="navbar">
      <h1>Banking Management System</h1>

      <a href="{% url 'logout' %}" class="logout"> Logout </a>
    </div>

    <div class="form-container">
      <div class="form-card">
        <h2>Change Password</h2>

        <p class="form-description">Update your account password securely.</p>

        {% if form.errors %}

        <div class="messages">
          <p class="message error">Please correct the errors below.</p>
        </div>

        {% endif %}

        <form method="POST">
          {% csrf_token %} {{ form.as_p }}

          <button type="submit" class="btn">Change Password</button>
        </form>

        <a href="{% url 'profile' %}" class="back-link"> ← Back to Profile </a>
      </div>
    </div>
  </body>
</html>
