  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Delete Bank Account</title>
    <link rel="stylesheet"
          href="{% static 'accounts/css/style.css' %}">
</head>

<body>

<div class="form-container">
    <div class="form-card">

        <h2>Delete Bank Account</h2>

        <p>
            Are you sure you want to permanently delete your bank account?
        </p>

        <p>
            <strong>Account Number:</strong>
            {{ account.account_number }}
        </p>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn">
                Yes, Delete Account
            </button>
        </form>

        <br>

        <a href="{% url 'profile' %}">
            Cancel
        </a>

    </div>
</div>

</body>
</html>