  {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <title>Password Reset</title>

    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}" />
  </head>

  <body>
    <div class="navbar">
      <h1>Banking Management System</h1>
    </div>

    <div class="form-container">
      <div class="form-card">
        <h2>Password Reset Email Sent</h2>

        <p class="form-description">
          If an account exists with the email address you entered, a password
          reset link has been sent.
        </p>

        <a href="{% url 'login' %}" class="btn"> Back to Login </a>
      </div>
    </div>
  </body>
</html>
